<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>KasperFolwer-HW2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginHandler</display-name>
    <servlet-name>LoginHandler</servlet-name>
    <servlet-class>movies.javaClasses.LoginHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginHandler</servlet-name>
    <url-pattern>/LoginHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>movies.javaClasses.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieSearch</display-name>
    <servlet-name>MovieSearch</servlet-name>
    <servlet-class>movies.javaClasses.MovieSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieSearch</servlet-name>
    <url-pattern>/MovieSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDetails</display-name>
    <servlet-name>ViewDetails</servlet-name>
    <servlet-class>movies.javaClasses.ViewDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetails</servlet-name>
    <url-pattern>/ViewDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutHandler</display-name>
    <servlet-name>LogoutHandler</servlet-name>
    <servlet-class>movies.javaClasses.LogoutHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutHandler</servlet-name>
    <url-pattern>/LogoutHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerReviewHandler</display-name>
    <servlet-name>CustomerReviewHandler</servlet-name>
    <servlet-class>movies.javaClasses.CustomerReviewHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerReviewHandler</servlet-name>
    <url-pattern>/CustomerReviewHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TheatreAndMovieSearchQueryHandler</display-name>
    <servlet-name>TheatreAndMovieSearchQueryHandler</servlet-name>
    <servlet-class>movies.javaClasses.TheatreAndMovieSearchQueryHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TheatreAndMovieSearchQueryHandler</servlet-name>
    <url-pattern>/TheatreAndMovieSearchQueryHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationHandler</display-name>
    <servlet-name>RegistrationHandler</servlet-name>
    <servlet-class>movies.javaClasses.RegistrationHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationHandler</servlet-name>
    <url-pattern>/RegistrationHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerHomepageHandler</display-name>
    <servlet-name>CustomerHomepageHandler</servlet-name>
    <servlet-class>movies.javaClasses.CustomerHomepageHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerHomepageHandler</servlet-name>
    <url-pattern>/CustomerHomepageHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateShoppingCartHandler</display-name>
    <servlet-name>UpdateShoppingCartHandler</servlet-name>
    <servlet-class>movies.javaClasses.UpdateShoppingCartHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateShoppingCartHandler</servlet-name>
    <url-pattern>/UpdateShoppingCartHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerTransactionConfirmation</display-name>
    <servlet-name>CustomerTransactionConfirmation</servlet-name>
    <servlet-class>movies.javaClasses.CustomerTransactionConfirmation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerTransactionConfirmation</servlet-name>
    <url-pattern>/CustomerTransactionConfirmation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOrders</display-name>
    <servlet-name>ViewOrders</servlet-name>
    <servlet-class>movies.javaClasses.ViewOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrders</servlet-name>
    <url-pattern>/ViewOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageOrder</display-name>
    <servlet-name>ManageOrder</servlet-name>
    <servlet-class>movies.javaClasses.ManageOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageOrder</servlet-name>
    <url-pattern>/ManageOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrder</display-name>
    <servlet-name>CancelOrder</servlet-name>
    <servlet-class>movies.javaClasses.CancelOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrder</servlet-name>
    <url-pattern>/CancelOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancellationConfirmation</display-name>
    <servlet-name>CancellationConfirmation</servlet-name>
    <servlet-class>movies.javaClasses.CancellationConfirmation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancellationConfirmation</servlet-name>
    <url-pattern>/CancellationConfirmation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieSearchResultsHandler</display-name>
    <servlet-name>MovieSearchResultsHandler</servlet-name>
    <servlet-class>movies.javaClasses.MovieSearchResultsHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieSearchResultsHandler</servlet-name>
    <url-pattern>/MovieSearchResultsHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieSearchResultsServlet</display-name>
    <servlet-name>MovieSearchResultsServlet</servlet-name>
    <servlet-class>movies.javaClasses.MovieSearchResultsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieSearchResultsServlet</servlet-name>
    <url-pattern>/MovieSearchResultsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerReview</display-name>
    <servlet-name>CustomerReview</servlet-name>
    <servlet-class>movies.javaClasses.CustomerReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerReview</servlet-name>
    <url-pattern>/CustomerReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowShoppingCart</display-name>
    <servlet-name>ShowShoppingCart</servlet-name>
    <servlet-class>movies.javaClasses.ShowShoppingCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowShoppingCart</servlet-name>
    <url-pattern>/ShowShoppingCart</url-pattern>
  </servlet-mapping>
</web-app>